:root {
  --gradient-background: radial-gradient(circle, #080708, #8e7293);
  --primary-color: #fff;
  --secondary-color: #111;
  --emphasis-color: rgb(194, 73, 157);
  --button-color: rgba(129, 45, 129, 0.9);
  --homepage-background: hsla(273, 10%, 79%, 0.1);
  --box-shadow: 0 5px 10px rgba(129, 93, 188, 0.3);
  --img-hover-background: hsla(273, 58%, 30%, 0.7);
}

body {
  background: #000000;
  margin-top: 100px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #fff;
}

h1,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}
h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  color: var(--primary-color);
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.homepage {
  margin-top: 150px;
  margin-left: 365px;
  margin-right: 350px;
  margin-bottom: 250px;
  border-radius: 30px;
}
.navigation-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.start-link {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.start-link:hover {
  color: var(--emphasis-color);
}

.bg-black {
  background: var(--secondary-color);
}
.about-me {
  padding-top: 40px;
  margin-top: -70px;
}
.projects {
  padding-top: 40px;
  margin-top: -60px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 20px;
}
.education {
  margin-left: 20px;
}
.title-emphasis {
  color: var(--emphasis-color);
}
.resume-wrap .date {
  font-weight: 900;
  font-size: 20px;
  color: var(--emphasis-color);
}

.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.img-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--img-hover-background);
}
.img-container:hover .img-overlay {
  opacity: 1;
}
.overlay-text {
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 130px;
}
footer {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
.btn-branding {
  background: var(--emphasis-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer .social-links a {
  margin: 0 10px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 12px 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links p {
  margin-top: 16px;
  font-size: 12px;
}
/* Media query for small screens */
@media (max-width: 576px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    text-align: center;
  }
  .degree-name {
    text-align: left;
  }
  h3 {
    font-size: 20px;
    color: var(--primary-color);
    margin-top: 20px;
  }
  .homepage {
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    padding: 20px;
  }
  .navigation-links {
    display: flex;
    justify-content: center;
  }
  .navigation-links {
    margin: 10px;
    border-radius: 10px;
    padding: 20px 15px;
    padding-bottom: -400px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .start-link {
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
  }

  .about-me {
    text-align: left;
    margin-left: -15px;
    margin-right: 20px;
  }
  .resume-wrap {
    width: 100%;
    margin-right: 30px;
  }
  video {
    display: none;
  }
  footer {
    margin: 10px;
  }
  footer .social-links a {
    padding: 20px;
  }
}

/* Media query for medium screens */
@media (min-width: 577px) and (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    text-align: center;
  }
  .degree-name {
    text-align: left;
  }
  h3 {
    font-size: 40px;
    color: var(--primary-color);
    margin-top: 50px;
    text-align: center;
  }
  .homepage {
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    padding: 20px;
    background: hsla(273, 10%, 79%, 0.1);
    box-shadow: var(--box-shadow);
    border-radius: 30px;
  }
  .navigation-links {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }
  .navigation-links {
    margin: 10px;
    border-radius: 10px;
    padding: 20px 15px;
    padding-bottom: -500px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .start-link {
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
    font-size: 30px;
    text-align: center;
  }

  .about-me {
    margin: 0;
  }
  .resume-wrap {
    width: 95%;
    margin-right: 20px;
  }
  .about-me-img {
    margin-top: 150px;
  }
  video {
    display: none;
  }
}
