:root {
  --gradient-background: radial-gradient(circle, #080708, #281d2a);
}

body {
  background: #000000;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

h1 {
  font-size: 96px;
}
